.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7;
  border-radius: 0.5rem;
  border: 0.2rem solid $light;
  color: $black;
  cursor: pointer;
  &:hover {
    background-color: $main_color;
    color: #fff;
  }
}
section {
  padding: 2rem 9%;
}
// <!--------------->
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background-color: #fff;
  box-shadow: $box-shadow;
  &__logo {
    font-size: 4.5rem;
    font-weight: bold;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: "eufoniem";
      text-decoration: underline double $main_color;
    }
    img {
      width: 7rem;
      margin-right: 0.4rem;
      border: 3px outset $main_color;
      border-radius: 0.5rem;
    }
  }
  &__navbar {
    a {
      font-size: 1.7rem;
      margin: 0 1rem;
      color: $black;
      &:hover {
        color: $main_color;
      }
    }
  }
  // <!--------------->
  &__icons {
    #menu-btn {
      display: none;
    }
    div {
      height: 4rem;
      width: 4rem;
      line-height: 4rem;
      background: #eee;
      color: $black;
      font-size: 2rem;
      text-align: center;
      margin-right: 0.3rem;
      cursor: pointer;
      border-radius: 1rem;
      &:hover {
        background: $main_color;
        color: #fff;
      }
    }
  }
  // <!--------------->
  .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 35rem;
    height: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 1.2s all;
    box-shadow: $box-shadow;

    #search-box {
      height: 100%;
      width: 100%;
      padding: 0 1rem;
      background: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: $black;
    }
    label {
      padding-right: 1.5rem;
      font-size: 1.7rem;
      color: $black;
      cursor: pointer;
      &:hover {
        color: $main_color;
      }
    }
  }
  // <!--------------->
  .phone {
    display: flex;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    height: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    padding: 2rem 2rem;
    color: $black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    a:hover {
      color: $main_color;
    }
  }
  // <!--------------->
  .shopping {
    position: absolute;
    top: 150%;
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    width: 30rem;
    background-color: #fff;
    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      margin: 1rem 0;
      i {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        cursor: pointer;
        color: $light;
        transform: translateY(-50%);
        &:hover {
          color: $main_color;
        }
      }
    }
    &__img {
      height: 10rem;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      h3 {
        color: $black;
        font-size: 1.7rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
      }
      span {
        color: $light;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
    &__total {
      font-size: 1.7rem;
      padding: 1rem 0;
      text-align: center;
      color: $black;
      &:hover {
        color: $main_color;
      }
    }
    .btn {
      width: 100%;
      text-align: center;
      margin: 1rem 0;
    }
  }
  // <!--------------->
  .login {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    h3 {
      font-size: 1.7rem;
      text-transform: uppercase;
      color: $black;
      text-align: center;
    }
    &__item {
      margin: 0.7rem 0;
      background-color: none;
      border-radius: 0.5rem;
      padding: 1rem 1rem;
      font-size: 1.5rem;
      color: $black;
      border: $border;
      width: 100%;
      &:focus {
        border-color: $main_color;
      }
    }
    &__sign {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        cursor: pointer;
        padding: 1rem 1rem;
        font-size: 1.2rem;
        color: $black;
        &:hover {
          color: $main_color;
        }
      }
    }
    .btn {
      width: 100%;
    }
  }
}
// <!--------------->
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/bg.jpg") center no-repeat;
  padding-top: 15rem;
  padding-bottom: 8rem;
  img {
    animation: logo 4s infinite alternate;
    width: 20rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
  }
  &__text {
    text-align: center;
    width: 55rem;
    h3 {
      color: $black;
      font-size: 7rem;
      font-family: "eufoniem";
      span {
        font-family: "eufoniem";
        font-size: 10rem;
        font-weight: bold;
        color: $black;
      }
    }
    p {
      font-family: "eufoniem";
      font-size: 4rem;
      color: $black;
    }
    .btn {
      font-family: "eufoniem";
      font-size: 3rem;
      color: $black;
      font-weight: bold;
      &:hover {
        background-color: $main_color;
      }
    }
  }
}

// <!--------------->
.feature {
  text-align: center;
  color: $black;
  &__title {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  &__text {
    padding: 1rem;
    font-size: 1.7rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem));
    gap: 2rem;
    padding-top: 4rem;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    h3 {
      font-family: "eufoniem";
      font-size: 4.8rem;
      line-height: 5.2rem;
    }
    p {
      font-size: 1.7rem;
    }
  }
  .border {
    border: 0.5rem solid $main_color;
    border-radius: 1rem;
    margin: 0 3rem;
    box-shadow: $box-shadow;
    opacity: 0.85;
  }
}
.feature-bg {
  background: url("../img/feature_bg.jpg") center (center/cover) no-repeat;
}

// <!--------------->
.products {
  padding: 4rem;
  &__title {
    text-align: center;
    color: $black;
    font-size: 2.5rem;
    line-height: 4rem;
    span {
      font-family: "eufoniem";
      font-size: 10rem;
    }
  }
  &__slider {
    padding: 1rem;
  }
  &__item {
    width: 50rem;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem 3rem;
    box-shadow: $box-shadow;
    outline-offset: 0rem;
    outline: $outline;
    transition: 1s all;
    &:hover {
      background-color: #eee;
      outline-offset: -1rem;
      outline: $outline-hover;
    }
    img {
      height: 20rem;
    }
    p {
      span {
        font-family: "eufoniem";
        font-size: 3rem;
      }
    }
    h3 {
      font-family: "eufoniem";
      font-size: 3rem;
      text-transform: uppercase;
      &:hover {
        color: $main_color;
        cursor: pointer;
      }
    }
  }
}
// <!--------------->
.blogs {
  padding: 3rem 1.5rem 1rem;
  &__text {
    text-align: center;
    color: $black;
    font-size: 6rem;
    line-height: 4rem;
    font-family: "eufoniem";
  }
  &__wrapper {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    overflow: hidden;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: $box-shadow;
    outline: $border;
    img {
      border-radius: 1rem;
      width: 25rem;
      height: 25rem;
      object-fit: cover;
      box-shadow: $box-shadow;
    }
  }
  &__body {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
    h3 {
      font-size: 1.7rem;
      padding: 1rem;
    }
  }
  &__icon {
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
    a {
      color: $black;
      &:hover i {
        color: $main_color;
      }
    }
    i {
      color: $light;
      &:hover {
        color: $main_color;
      }
    }
  }
}
// <!--------------->
.footer {
  padding: 5rem;
  background: url("../img/footer.jpg") center (2rem/cover) no-repeat;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__logo {
    font-size: 4.5rem;
    font-weight: bold;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: "eufoniem";
      text-decoration: underline double $main_color;
    }
    img {
      width: 7rem;
      margin-right: 0.4rem;
      border: 3px outset $main_color;
      border-radius: 0.5rem;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      padding: 1rem;
      font-family: "eufoniem";
      font-size: 4.5rem;
      color: $black;
    }
    .social {
      display: flex;
      padding: 0 1rem;
      justify-content: stretch;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        font-size: 2.5rem;
        width: 4rem;
        height: 4rem;
        background: $black;
        color: #fff;
        margin-right: 2rem;
        box-shadow: $box-shadow;
        &:hover {
          background-color: $main_color;
        }
      }
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p,
    a {
      padding: 1rem;
      font-family: "eufoniem";
      font-size: 4rem;
      color: #fff;
    }
  }
}
.right {
  p {
    text-align: center;
    padding: 1rem;
    font-family: "eufoniem";
    font-size: 4rem;
    color:$black;
  }
  .map {
    box-shadow: $box-shadow;
    border-radius: 1rem;
    border: 0.3rem solid $black;
    opacity: 0.8;
    &:hover {
      border-color: $main_color;
    }
  }
}
// <!--------------->
.active {
  animation: wap 1s forwards;
}
// <!--------------->
@keyframes logo {
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
// <!--------------->
@keyframes wap {
  25% {
    transform: scale(0.95);
    right: 1.5rem;
  }
  50% {
  }
  75% {
  }
  100% {
    transform: scale(1);
    right: 2rem;
  }
}
